@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.center {
    display: flex;
    text-align: center;
    align-items: center;
}